<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SozcuCrawl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SozcuCrawl.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Sozcu Crawl</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link @(Model.SelectedCategory == "yazarlar" ? "active" : "")" asp-page="/Index" asp-route-category="yazarlar">Yazarlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model.SelectedCategory == "gundem" ? "active" : "")" asp-page="/Index" asp-route-category="gundem">Gündem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model.SelectedCategory == "spor" ? "active" : "")" asp-page="/Index" asp-route-category="spor">Spor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model.SelectedCategory == "dunya" ? "active" : "")" asp-page="/Index" asp-route-category="dunya">Dünya</a>
                        </li>
                    </ul>
                </div>
                <form method="post">
                    <input type="text" name="SearchQuery" value="@Model.SearchQuery" placeholder="Arama yapın" class="form-control mb-2" />
                    <button type="submit" class="btn btn-primary w-100">Ara</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SozcuCrawl - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>